@charset "UTF-8";

/* font */
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');

html{
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
	font-size: 14px;
	line-height: 1.5;
	color: #131316;
	min-width: 1320px;
}

ul {
	list-style: none;
}

a {color: inherit;
	text-decoration: none;
}
/* header */
header{
	width: 100%;
	color: white;
	background-color: #1a300d;
	padding: 15px 0;
	display: flex;
	justify-content: center;
	font-size: 30px;
	letter-spacing: 2px;
}


/* 중앙 전체 */
.wrap{
    width: 1200px;
    margin: 0 auto 90px;
    display: flex;
    justify-content: space-between;
	align-items: flex-start;
}


/* 상품 주문창 */
#product {
	width: 400px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.right h1 {
	font-weight: 500;
	font-size: 25px;
}

.right h2 {
	font-size: 24px;
	font-weight: 500;
	margin-top: 30px;
}

.right h3 {
	font-size: 16px;
	font-weight: 500;
	margin-top: 30px;
}

.right dl {
	margin: 10px 5px;
}

.right dt {
	padding-bottom: 5px;
}

.border {
	border-bottom: 1.5px solid #131316;
	padding-bottom: 20px;
}

.selectbox{
	margin: 20px 0;
	border-collapse: collapse;
	width: 100%;
}
.selectbox th{
	text-align: left;
	font-weight: 400;
}
.selectbox th, .selectbox td{
	padding: 10px 0;
}
.selectbox select{
	outline: none;
	width: 100%;
	padding: 10px;
}

.order {
	display: flex;
	justify-content: space-between;
	gap: 5px;
}

.order li{
	flex: 1;
	text-align: center;
}

.order li a {
	border: 1px #131316 solid;
	color: #131316;
	display: block;
	padding: 20px 0;
}

.order li:nth-child(2) a {
	background-color: #131316;
	color: #fff;
}

.order li a:hover {
	background-color: rgba(19, 19, 22, 0.5);
	color: #fff;
}


/* 상세페이지 */
.detail_wrap {
	width: 700px;
}

.main img{width: 100%;}


/* 푸터 */
.footer {
	background-color: #1a300d;
	padding: 20px 0;
}
.footer p {color: white;
text-align: center;
font-size: 20px;
letter-spacing: 2px;}

/* 탑 버튼 */
.top_btn1{
	position: fixed;
	right: 50px;
	bottom: 130px;
	z-index: 99;
	width: 70px;
	height: 70px;
	background-color: #1a300d;
	color: white;
	text-align: center;
box-sizing: border-box;
padding-top: 23px;
border-radius: 50%;
}

.top_btn2{
	position: fixed;
	right: 50px;
	bottom: 50px;
	z-index: 99;
	width: 70px;
	height: 70px;
	background-color: #1a300d;
	color: white;
	text-align: center;
box-sizing: border-box;
padding-top: 23px;
border-radius: 50%;
}
.top_btn1:hover, .top_btn2:hover{background-color: white;
color: black;
border: solid 1px black;}

.box:hover{background-color: white;
border:black solid 1px;
color: black;}
